html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body takes up the full height of the screen */
  width: 100%; /* Ensure the body takes up the full width of the screen */
}

#root {
  height: 100%; /* Ensure the root div takes up the full height */
  width: 100%; /* Ensure the root div takes up the full width */
  display: flex;
  flex-direction: column;
}

.homepage {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  text-align: center;
  padding: 2rem;
  background-color: #f0f0f0;
}

main {
  flex: 1;
  padding: 1rem;
}